<ol class="breadcrumb">
  <li><%= link_to "Home", english_index_path %></li>
  <li><%= link_to "Products", english_products_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-6">
    <h1 class="h1-ener"><%= @title %></h1>
    <ul>
      <li>From this plant castor beans are harvested and are the source of castor oil. The oil and its derivatives are used as raw materials in various industries including: resins and polyols, lubricants, soaps, cosmetics, and biofuels.</li><br>
      <li>ENERALL has achieved the automated production of this crop, highlighting its mechanized harvesting, and reaching average yields per hectare significantly higher than those reported by other countries.</li><br>
      <li>Using hybrid seed produced in Mexico, ENERALL has managed to harvest between 2.5 and 4.2 ton/ha in different geographical areas.</li><br>
      <li>ENERALL supplies FSG Castor Oil (First Special Grade), also known as Castor Oil No. 1, meeting all international quality standards.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "higuerilla1.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "higuerilla2.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "higuerilla3.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "higuerilla4.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "higuerilla5.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "higuerilla6.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "higuerilla7.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
      </div>
    </div>
  </div>
</div>