<ol class="breadcrumb">
  <li><%= link_to "Home", english_index_path %></li>
  <li><%= link_to "About Us", english_about_us_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-7">
    <h1 class="h1-ener"><%= @title %></h1>
    <p>In 1994 we initiated the selection of various crops with the objective of identifying different species that had potential as biofuel feedstock.</p>
    <p>In 2007 an aggressive project regarding genetic improvement, research and development of sweet sorghum and castor was consolidated due to its high potential to meet strategic objectives of the company.</p>
    <p>In 2008 Enerall established research centers in the states of Sonora, Yucatan, Veracruz, and Nayarit in order to continuously improve its soil transformation technology and keep moving forward with the crops’ genetic developments, as well as identifying the best timeframes according to local weather conditions.</p>
    <p>In 2011 the transformation of 1,750 hectares in Tizimin, Yucatan was initiated, on degraded land previously occupied for cattle raising and extensive agriculture.</p>
    <p>In 2013 Enerall starts with castor oil production, vertically integrating along the castor crop value chain.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag "historia.jpg", :class=>"img-responsive img-thumbnail" %>
  </div>
</div>