<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <%= image_tag "principal1.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal2.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal3.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal4.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal5.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal6.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal7.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal8.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal9.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal10.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
    <div class="item">
      <%= image_tag "principal11.jpg", :class=>"img-responsive img-thumbnail" %>
    </div>
  </div>
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>
<h1><spam class="h1-ener"><%= @title %></spam></h1>
<!--<p class="lead text-justify text-success">-->
<h4 class="text-justify text-success">Some time ago, nature let mankind know that by rubbing rocks fire could be made, or when planting seeds food could be produced. However, there was more to discover: Today, technology and knowledge help us to stay one step ahead.</h4>
<h4 class="text-center text-success">ENERALL, BEYOND AGRICULTURE.</h4>