<ol class="breadcrumb">
  <li><%= link_to "Home", english_index_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-6">
    <h1 class="h1-ener"><%= @title %></h1>
    <p>Natural formation of a 2.5 centimeter layer of soil requires 500 years!</p>
    <p>Enerall technologies emulate these natural processes rapidly.</p>
    <ul>
      <li>In 6 months for the initial soil formation.</li>
      <li>In 3 years for its stabilization and maturity.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "500years.jpg", :class=>"img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia1.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia2.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia3.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia4.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia5.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia6.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia7.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "tecnologia8.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
      </div>
    </div>    
  </div>
</div>