<ol class="breadcrumb">
  <li><%= link_to "Home", english_index_path %></li>
  <li><%= link_to "About Us", english_about_us_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-7">
    <h1 class="h1-ener"><%= @title %></h1>
    <p>Be a world leading enterprise in the development and improvement of land for the efficient production of crops destined to the special vegetable oil and derivatives industry.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag "higuerilla2.jpg", :class=>"img-responsive img-thumbnail" %>
  </div>
</div>