<ol class="breadcrumb">
  <li><%= link_to "Inicio", root_path %></li>
  <li class="active"><%= @tit %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-7">
    <h1 class="h1-ener"><%= @tit %></h1>
    <p>Con fundamento en los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares publicada en el Diario Oficial de la Federación el día 5 de julio de 2010, hacemos de su conocimiento que Enerall S.A.P.I. de C.V. con domicilio en la calle Río Sena No. 500 Poniente, Colonia Del Valle, San Pedro Garza García, Nuevo León, C.P. 66220, se encuentra comprometida con la protección de los Datos Personales que Usted nos proporcione tales como: nombre completo, fecha de nacimiento, registro federal de contribuyentes, nacionalidad, genero, domicilio, número de teléfono, correo electrónico, profesión, entre otros. Asimismo, los Datos Sensibles patrimoniales o financieros que nos haya proporcionado, serán tratados bajo medidas de seguridad previstas por la Ley, garantizando su confidencialidad en todo momento.</p>
    <p>Los datos personales sólo serán utilizados para brindarle los servicios solicitados y se tratarán para fines de identificación, operación, administración, contratación, notificación de nuevos servicios, comunicación sobre cambios en los mismos, elaboración de estudios y programas, realización de evaluaciones periódicas sobre la calidad de nuestros servicios a efecto de mejorar los mismos y en general, para dar cumplimiento a las obligaciones que hemos contraído con usted y a las que estamos sujetos por disposición de autoridad, pudiendo transferirse a instituciones, terceras personas, prestadores de servicios que fuesen necesarios en virtud de los servicios.</p>
    <p>Enerall S.A.P.I. de C.V. sólo recaba información necesaria, cumpliendo con los requerimientos legales y regulatorios vigentes, por lo que por este medio se le informa los fines para los cuales será utilizada dicha información, brindándole información adicional, siempre y cuando ésta nos sea solicitada. Usted, por este medio nos autoriza a administrar y a utilizar sus datos personales conforme a lo anterior, exclusivamente para los propósitos anteriormente señalados. Usted podrá, en todo momento, revocar su consentimiento así como ejercer sus derechos de acceso, rectificación, cancelación, oposición, divulgación y limitación de uso, mediante el envío de un correo electrónico dirigido a la Lic. Katia Aguiar (<%= mail_to "kaguiar@plenus.biz" %>), responsable de nuestro Departamento de Protección de Datos Personales, ubicado en Río Sena No. 500 Poniente, Colonia del Valle, San Pedro Garza García, Nuevo León, o bien, se comunique al teléfono (81) 8399-5600 ext. 5382.</p>
    <p>Cualquier modificación a nuestro Aviso de Privacidad se notificará en su debido momento por medio de correo electrónico o por otros medios de comunicación, conforme a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, a fin de tenerlo siempre informado.</p>
    <p>Se entenderá que Usted consiente tácitamente el tratamiento de sus datos personales conforme a lo enunciado en el presente aviso de privacidad, cuando habiéndolo puesto a su disposición, no manifieste su oposición.</p>
    <p>Cordialmente,</p>
    <p>Enerall S.A.P.I de C.V.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag "aviso.jpg", :class=>"img-responsive img-thumbnail" %>
  </div>
</div>