<ol class="breadcrumb">
  <li><%= link_to "Inicio", root_path %></li>
  <li><%= link_to "Tecnología", contenidos_tecnologia_path %></li>
  <li class="active"><%= @tit %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-6">
    <h1 class="h1-ener"><%= @tit %></h1>
    <p>Mediante la adopción de las mejores prácticas agrícolas, incluyendo la rotación de cultivos y la labranza de conservación entre otras podemos lograr la mejora de la capa arable de los suelos, manteniendo los altos niveles de materia orgánica que tienen los suelos de Yucatan, acompañado de un incremento de los niveles de macro y micro nutrientes.</p>
    <!--<p>Enerall ha desarrollado paquetes tecnológicos para diferentes cultivos en el Sureste de México; entre ellos destacan: higuerilla, maíz amarillo y blanco, sorgos, soya, frijol negro y ajonjolí.</p>
    <p>En 2.5 años, los suelos han mejorando sus características  (perfil, textura y materia orgánica) y los rendimientos agrícolas han aumentado un 32% anual compuesto.</p>
    <p>A partir del 3er ciclo se reduce el costo de fertilización y se prescinde de la inoculación de micro-organismos. En 2.5 años los costos por hectárea se han reducido un 14% anual compuesto.</p>-->
  </div>
  <div class="col-md-6">
    <%= image_tag "foto mejora continua.jpg", :class=>"img-responsive img-thumbnail" %>
  </div>
</div>