<ol class="breadcrumb">
  <li><%= link_to "Inicio", root_path %></li>
  <li><%= link_to "Quienes somos", contenidos_quienes_somos_path %></li>
  <li class="active"><%= @tit %></li>
</ol>
<div class="text-justify text-success">
	<div class="col-md-6">
		<h1 class="h1-ener"><%= @tit %></h1>
		<p>Transformar tierra improductiva en tierra fértil para la agricultura, mediante el uso de tecnología propietaria y mejores prácticas de sustentabilidad, para producir eficientemente cultivos de alta rentabilidad e integrarnos en su cadena de valor.</p>
	</div>
	<div class="col-md-6">
		<%= image_tag "foto mision.jpg", :class=>"img-responsive img-thumbnail" %>
	</div>
</div>