<ol class="breadcrumb">
  <li><%= link_to "Inicio", root_path %></li>
  <li class="active"><%= @tit %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-6">
    <h1 class="h1-ener"><%= @tit %></h1>
<!--<div class="container text-justify text-success">
  <h1 class="h1-ener"><%= @tit %></h1>-->
    <p>ENERALL ha concentrado sus esfuerzos en la producción y comercialización de cereales y oleaginosas.</p>
    <p>Gracias al riego por pivote central, se logra una rotación Sorgo (primer cultivo) – Soya – Maiz, logrando sembrar al menos dos cultivos en un año.</p>
    <p>ENERALL se compromete a lograr la máxima calidad en sus productos de una manera sustentable. Nos enorgullece contribuir al desarrollo del campo Mexicano, a la sustitución de importaciones, y a la seguridad alimentaria nacional a través del abasto de alimentos en el mercado nacional.</p><br><br><br><br><br><br><br><br>
  </div><br><br><br><br>
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to image_tag("maiz6.jpg"), contenidos_maiz_path, :class=>"img-responsive img-thumbnail" %>
          <div class="caption"><h3>Maíz</h3></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to image_tag("soya1.jpg"), contenidos_soya_path, :class=>"img-responsive img-thumbnail" %>
          <div class="caption"><h3>Soya</h3></div>
        </div>
      </div>    
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to image_tag("sorgo6.jpg"), contenidos_sorgo_path, :class=>"img-responsive img-thumbnail" %>
          <div class="caption"><h3>Sorgo</h3></div>
        </div>
      </div>
    </div>
  </div>
</div>