<ol class="breadcrumb">
  <li><%= link_to "Inicio", root_path %></li>
  <li><%= link_to "Productos", contenidos_productos_path %></li>
  <li class="active"><%= @tit %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-6">
    <h1 class="h1-ener"><%= @tit %></h1>
    <ul>
      <li>Superficie sembrada en México, año agrícola 2012</li>
      <ul>
        <li>1.9 millones de has.</li>
        <li>12.5% de la superficie total sembrada.</li>
      </ul>
    </ul>
    <ul>
      <li>Producción, año agrícola 2012</li>
      <ul>
        <li>7.0 millones de ton.</li>
        <li>Promedio anual 2008-2012: 6.6 millones de ton.</li>
      </ul>
    </ul>
    <ul>
      <li>Importaciones, 2012</li>
      <ul>
        <li>247 mil ton, equivalente al 3.5% de la producción nacional.</li>
        <li>Promedio anual 2008–2012: 731 mil ton, equivalente al 11% de la producción promedio del país.</li>
      </ul>
    </ul>
    <ul>
      <li>Importaciones vía Puerto Progreso, Yucatán, 2012</li>
      <ul>
        <li>169 mil ton, 19% del total importado a nivel nacional.</li>
        <li>Promedio anual 2008–2012: 254 mil ton, representando el 35% de las importaciones totales.</li>
      </ul>
    </ul>
    <ul>
      <li>ENERALL ha logrado rendimientos de sorgo de hasta 5.5 ton/ha en suelos transformados.</li>
    </ul>
    <br>
    <p>Fuentes: SIAP, SIAVI y Administración Portuaria de Puerto Progreso, Yucatán.</p>
  </div>
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "sorgo1.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "sorgo2.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "sorgo3.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "sorgo4.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "sorgo5.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
        <div class="item">
          <%= image_tag "sorgo6.jpg", :class=>"img-responsive img-thumbnail" %>
        </div>
      </div>
    </div>
  </div>
</div>