<!DOCTYPE html>
<html lang="es">
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= @tit %></title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
<%= javascript_include_tag "default", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script type="text/javascript">
	$(document).ready(function() {
		$("[rel='tooltip']").tooltip();
		$('#hover-cap-4col .thumbnail').hover (
			function() {
				$(this).find('.caption2').slideDown(250); //.fadeIn(250)
			},
        	function() {
            $(this).find('.caption2').slideUp(250); //.fadeOut(205)
        	}
    	);
    });
</script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3000
    });
  });
</script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57165333-1', 'auto');
      ga('send', 'pageview');

  </script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "logo_enerall.png", :class=>"img-responsive" %></br>
			</div>
			<div class="col-md-3">
				<div class="text-right text-success">
					
				</div>
			</div>
			<!--<div class="col-md-3">
				<div class="text-right text-success">
					<%= link_to 'ENGLISH', english_index_path %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="input-group input-group-sm">
					<span class="input-group-addon glyphicon glyphicon-search"></span>
					<input type="text" class="form-control" placeholder="Buscar">
				</div>
			</div>-->
		</div>
		<div class="row">
			<ul class="nav nav-tabs">
				<li>
					<%= link_to "", root_path, :class=>"navbar-brand glyphicon glyphicon-home" %>
				</li>
				<li class="dropdown">
					<%= link_to "Quienes somos", contenidos_quienes_somos_path %>
					<ul class="dropdown-menu">
						<li><%= link_to "Historia", contenidos_historia_path %></li>
						<li><%= link_to "Misión", contenidos_mision_path %></li>
						<li><%= link_to "Visión", contenidos_vision_path %></li>
					</ul>
				</li>
				<li class="dropdown">
					<%= link_to "Tecnología", contenidos_tecnologia_path %>
					<ul class="dropdown-menu">
						<li><%= link_to "Transformación de suelos", contenidos_ts_path %></li>
						<li><%= link_to "Mejora Contínua", contenidos_mejora_continua_path %></li>
						<li><%= link_to "Agricultura de Precisión", contenidos_agricultura_precision_path %></li>
					</ul>
				</li>
				<li class="dropdown">
					<%= link_to "Productos", contenidos_productos_path %>
					<ul class="dropdown-menu">
						<li role="presentation" class="dropdown-header">Agrícolas</li>
						<li><%= link_to "Maíz", contenidos_maiz_path %></li>
						<li><%= link_to "Soya", contenidos_soya_path %></li>
						<li><%= link_to "Sorgo", contenidos_sorgo_path %></li>
						<!--<li><%= link_to "Higuerilla", contenidos_higuerilla_path %></li>-->
						<!--<li><%= link_to "Ajonjolí", contenidos_ajonjoli_path %></li>
						<li><%= link_to "Frijol", contenidos_frijol_path %></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">Industriales</li>
						<li><%= link_to "Aceite de ricino", contenidos_ricino_path %></li>-->
					</ul>
				</li>
				<li>
					<%= link_to "Galería", contenidos_galeria_path %>
				</li>
				<li>
					<%= link_to "Contacto", contenidos_contacto_path %>
				</li>
			</ul>
			<%= yield %>
		</div>
		<div class="row">
			<div class="footer">
				<div class="container">
					<div class="col-md-5">
						<%= link_to "Aviso de Privacidad", contenidos_aviso_path, :class=>"footer" %>
					</div>
					<div class="col-md-7">
						<p class="credit text-left">©Enerall 2018</p>
					</div>
				</div>
			</div>
		</div>
		<!--<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>-->
	</div>
</body>
</html>